<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeForward</servlet-name>
        <servlet-class>controller.HomeForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterForward</servlet-name>
        <servlet-class>controller.RegisterForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminForward</servlet-name>
        <servlet-class>controller.AdminForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrammarManage</servlet-name>
        <servlet-class>controller.GrammarManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGrammarForward</servlet-name>
        <servlet-class>controller.ListGrammarForward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertGrammarGuideController</servlet-name>
        <servlet-class>controller.InsertGrammarGuideController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertImageGrammarGuideController</servlet-name>
        <servlet-class>controller.InsertImageGrammarGuideController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGrammarGuideController</servlet-name>
        <servlet-class>controller.DeleteGrammarGuideController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeForward</servlet-name>
        <url-pattern>/HomeForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterForward</servlet-name>
        <url-pattern>/RegisterForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminForward</servlet-name>
        <url-pattern>/AdminForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrammarManage</servlet-name>
        <url-pattern>/GrammarManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGrammarForward</servlet-name>
        <url-pattern>/ListGrammarForward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertGrammarGuideController</servlet-name>
        <url-pattern>/InsertGrammarGuideController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertImageGrammarGuideController</servlet-name>
        <url-pattern>/InsertImageGrammarGuideController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGrammarGuideController</servlet-name>
        <url-pattern>/DeleteGrammarGuideController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file> HomeForward</welcome-file>
    </welcome-file-list>
</web-app>
